@import '../../scss/variables';

.container {
    border-radius: 20px 20px 0 0;
    background-color: $white;
    padding: 20px 15px 50px;

    display: grid;
    row-gap: 30px;
}

p {
    color: $dark-grayish-cyan;
    font-size: 1.1rem;
    font-weight: $bold;
}

.bill-section, .people-section {
    display: grid;
    row-gap: 5px;
    
    p, input {
        margin: 0;
    }

    input {
        background: url('../../../assets/images/icon-dollar.svg') no-repeat scroll 7px 15px;
        height: 40px;
        background-color: $light-grayish-cyan-2;
        text-align: right;
        padding: 4px 10px;
        border-radius: 5px;
        border: none;
        max-width: 100%;
    
        font-weight: $bold;
        font-size: 1.4rem;
        color: $very-dark-cyan;
    
        &:focus, &:hover {
            border: 1px solid $strong-cyan;
            outline: none;
            cursor: pointer;
        }
    }
}

.tip-section {
    display: grid;
    row-gap: 20px;

    p, .buttons {
        margin: 0;
    }

    .buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: stretch;
        align-items: center;
        gap: 20px;

        button {
            height: 50px;
            border-radius: 5px;
            border: none;
            outline: none;
            background-color: $very-dark-cyan;
            color: $white;
            font-weight: $bold;
            font-size: 1.2rem;
            padding: 10px 0;
            box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.5);

            &:hover {
                cursor: pointer;
                background-color: $light-grayish-cyan;
            }
        }

        .custom-button {
            width: 150px;
            height: 50px;
            text-align: center;
            border: none;
            outline: none;
            background-color: $light-grayish-cyan-2;
            color: $dark-grayish-cyan;
            font-size: 1.2rem;
            font-weight: $bold;

            justify-self: center;
        }

        .tip-active {
            background-color: $strong-cyan;
        }
    }
}

.people-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;

    input {
        background-image: url('../../../assets/images/icon-person.svg');
        grid-column: 1 / 3;
    }

    span {
        font-size: .7rem;
        justify-self: flex-end;
        color: red;
        font-weight: $bold;
    }
}

.amount-summary {
    background-color: $very-dark-cyan;
    border-radius: 15px;
    padding: 20px 25px 15px 25px;

    display: grid;
    grid-template-rows: 90px 90px 45px;

    h2 {
        font-size: 1.2rem;
        color: $light-grayish-cyan;
    }

    span, img {
        color: $strong-cyan;
    }

    button {
        background-color: $strong-cyan;
        outline: none;
        border: none;
        border-radius: 5px;
        font-weight: $bold;
        color: $very-dark-cyan;
        font-size: 1.4rem;

        &:hover {
            cursor: pointer;
            background-color: $light-grayish-cyan;
        }
    }

    .detail-container {
        h2,p {
            margin: 0;
        }

        h2 {
            font-size: 1.1rem;
        }
        p {
            font-size: .9rem;
        }
    }

    .tip, .total {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .amount span {
        font-size: 1.6rem;
        font-weight: $bold;
    }

}

.error-state {
    border: 2px solid red !important;
}

@media screen and (min-width: 850px) {
    .container {
        grid-template-rows: 70px auto 70px;
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: row;
        column-gap: 30px;
        row-gap: 20px;

        max-width: 800px;
        border-radius: 20px;
        padding: 20px 15px 20px 35px;
    }

    .tip-section {
        grid-row: 2 / 3;

        .buttons {
            grid-template-columns: repeat(3, 1fr);

            .custom-button {
                width: 90px;
                height: 40px;
            }
        }
    }

    .people-section {
        grid-row: 3 / 4;
    }

    .amount-summary {
        grid-row: 1 / 4;
        grid-template-rows: 90px 90px 1fr;

        button {
            height: 40px;
            align-self: flex-end;
        }

    }

    p {
        font-size: .9rem;
    }
}